body { margin: 0; padding: 0; }

/* Mapbox */
#map  { position: absolute; top: 0; bottom: 0; width: 100%; }
/* カスタムポップアップ */
.popupCustom .mapboxgl-popup-content {
    width: 600px;
    font: 14px Arial, sans-serif;
    }
.popupLuxuryHotel .mapboxgl-popup-content {
    width: 800px;
    font: 14px Arial, sans-serif;
    }
/* ローディングアイコン */
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
}

/* Chart.js */
#canvas-container {
    display: none;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    position: absolute;
    top: 50%; /* Position the container at the vertical center of the window */
    left: 60%; /* Position the container at the horizontal center of the window */
    transform: translate(-50%, -50%); /* Move the container back by half of its own width and height */
    width: 80%; /* Set the width of the container */
    max-width: 800px; /* Set a maximum width for the container */
    height: 600px; /* Set the height of the container */
    overflow: hidden;
}
#myChart { 
    width: 100%;
}


/* カスタムCSS */
.blue-marker {
    background: linear-gradient(transparent 70%, #00ffff 80%);
}
 /* タブの文字色 */
.nav-tabs .nav-link { color: white; }       
.nav-tabs .nav-link.active { color: black; }
